<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Receipt AlHuda-Baitulmaal</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .logo1{
            position: absolute;
            left: 30.5em;
            width: 3%;
            top: 9px;
        }
        .logo2{
            position: absolute;
            top: 9px;
            width: 3%;
            right: 30.5em;
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="650" style="border: 3px solid black; margin-bottom: 35px" th:each="item, iterStat: ${data}">
        <tr>
            <td align="center" style="border-bottom: 3px solid black;" colspan="2">
                <img class="logo1"  alt="logo1"  th:src="@{classpath:images/al-huda-logo.png}"/>
                <p style="font-size: 14px;font-weight: bolder;"> A L - H U D A B A I T U L M A A L </p>
                <span style="font-size: 12px;font-weight: bolder;">Al-Huda Multipurpose Society, Badnera, Dist
                    Amravati</span>
                <p style="margin: 0; height: 12px;background-color: black;color: white;font-size: 12px;
                font-weight: bolder;">Nazm-e-Ijtemaee
                    Sadqua, Zakat &amp; I.Sawab Etc.</p>
                    <img class="logo2" alt="logo2"  th:src="@{classpath:images/al-huda-logo.png}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2"
                style="font-size: 12px;font-weight: bolder;padding-top: 10px;border-bottom: 3px solid black;" th:text="'Name: ' + ${item.fullName}">
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;font-weight: bolder;padding-top: 10px;border-bottom: 3px solid black;"
                colspan="2" th:text="'the Sum of Rs. : ' + ${item.donationAmount}">
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;font-weight: bolder;padding-top: 10px;border-bottom: 3px solid black;" th:text="'by Cash/Cheque/D.D No.  :  Cash'">
            </td>
            <td
                style="font-size: 12px;font-weight: bolder;padding-top: 10px;border-bottom: 3px solid black; width: 35%;" th:text="' Mobile No. : ' + ${item.phoneNumber}">
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;font-weight: bolder;padding-top: 10px;border-bottom: 3px solid black;" th:text="' On Account Of : '">
            </td>
            <td
                style="font-size: 12px;font-weight: bolder;padding-top: 10px;border-bottom: 3px solid black; width: 35%;" th:text="'Date : ' + ${item.dateString}">
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;font-weight: bolder;padding-top: 10px;border-bottom: 3px solid black;" th:text="'Rs. : ' + ${item.donationAmount}">
            </td>
            <td
                style="font-size: 12px;font-weight: bolder;padding-top: 10px;border-bottom: 3px solid black; width: 35%;" th:text="'No. : ' + ${item.receiptNumber}">
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px;font-weight: bolder;padding-top: 10px;">
                Contact No. : 8928699542, 9766579292 <br />
                SBI A/c Name: Al-Huda Multipurpose Socierty, Badnera <br />
                A/c No: 3763721171 <br />
                IFSC : SBIN0004884 <br />
            </td>
            <td
                style="font-size: 12px;font-weight: bolder;padding-top: 10px;text-align: center;vertical-align: bottom;">
                <p>Authorized Signature</p>
            </td>
        </tr>
    </table>
</body>
</html>